@using myRes=PresentationLayer.LocalResource.Resource;
@{
    ViewBag.Title = myRes.About;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@myRes.Usethisareatoprovideadditionalinformation</p>
