@model Telerik.Web.Mvc.GridModel<PresentationLayer.Areas.SysAdmin.Models.FeeHeadVM>
@using Telerik.Web.Mvc.UI
@using myRes=PresentationLayer.LocalResource.Resource;
@{  System.Threading.Thread.CurrentThread.CurrentUICulture = new System.Globalization.CultureInfo(System.Configuration.ConfigurationManager.AppSettings["Culture"].ToString());
  System.Threading.Thread.CurrentThread.CurrentCulture = System.Threading.Thread.CurrentThread.CurrentUICulture;}
@{
    ViewBag.Title = myRes.index;
}

<h2>@myRes.index-  @myRes.FeeHead</h2>

@(Html.Telerik().Grid<PresentationLayer.Areas.SysAdmin.Models.FeeHeadVM>(Model.Data)
        .Name("Grid")
        .DataKeys(keys => keys.Add(c => c.FeeHeadId))
                    .ToolBar(commands => commands.Custom().Action("Create", "FeeHead", new { area = "SysAdmin" }).ImageHtmlAttributes(new { @class = "t-add" }).ButtonType(GridButtonType.Image).HtmlAttributes(new { title = "Add", id = "Add", @class = "RightAlign" }))

        .DataBinding(dataBinding =>
            dataBinding.Ajax()
                                                    .Select("Select", "FeeHead", new { area = "SysAdmin", GridButtonType.Text })
                                                .Update("Edit", "FeeHead", new { area = "SysAdmin", GridButtonType.Text }))
        .Columns(columns =>
        {
            columns.Command(commands =>
            {
                commands.Custom("Edit").Action("Edit", "FeeHead", new { area = "SysAdmin" }).ImageHtmlAttributes(new { @class = "t-edit" }).ButtonType(GridButtonType.Image).HtmlAttributes(new { title = "Edit" });
            }).Width(50).Title(myRes.Update);

            //columns.Command(commands =>
            //{
            //    commands.Custom("Delete").Action("Delete", "FeeHead", new { area = "SysAdmin" }).ImageHtmlAttributes(new { @onclick = "return confirmDelete()", @class = "t-delete" }).ButtonType(GridButtonType.Image).HtmlAttributes(new { title = "Delete", @class = "RightAlign" });
            //}).Width(50).Title("Delete");

            columns.Bound(p => p.FeeHeadName);
            columns.Bound(p => p.Status);
            columns.Bound(p => p.Remark);
        })
            .Pageable(paging => paging.Style(GridPagerStyles.NextPreviousAndNumeric | GridPagerStyles.PageInput | GridPagerStyles.PageSizeDropDown))
                      .Scrollable(paging => paging.Height(300))
                                .Reorderable(command => command.Columns(true))
            .Sortable()
                .Filterable()
                .Resizable(command => command.Columns(true))
)
